<!-- <h1>this is app component {{studentName}}</h1>
  <img [src]="imgSrc" [alt]="">  for image -->
<!-- <input [type]="newText"> for input box --> 
<!-- <h1>welcome</h1> -->
<!-- <input [type]="prop"> -->
<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body> -->
  <!-- <app-tablepract></app-tablepract> -->
  <!-- <app-twowaybind></app-twowaybind> -->
  
  
  <!-- <app-practdirct></app-practdirct>


</body>
</html> -->



<router-outlate></router-outlate>

<ul>
  <li> <a routerLink="login">Login</a> </li>
  <li> <a routerLink="list">List</a> </li>
</ul>