
<h1>Welcome in Angular </h1>

<!-- <app-formpract></app-formpract> -->
<!-- <app-fakeapi></app-fakeapi> -->

<!-- <app-udemyassignment2></app-udemyassignment2> -->
<!-- <app-add-emp></app-add-emp> -->

<!-- <app-employee></app-employee> -->

<!-- <app-reactiveform></app-reactiveform> -->
<!-- <app-college></app-college> -->
<!-- <router-outlet></router-outlet> -->
<!-- <h1>Custom Pipe</h1>
<b>Square root of 25 is: {{25 | sqrt}}</b>
<br/>
<b>Square root of 729 is: {{729 | sqrt}}</b> -->
<!-- <app-studacademics></app-studacademics> -->
<!-- <app-student></app-student> -->

<!-- <app-user [hero]="data"></app-user> -->
<!-- <div *ngFor="let d of data1">
<app-user [hero]="d"></app-user>
</div>
 -->
<!-- <app-login></app-login>
<app-signup></app-signup> -->
<ul>
    <li> <a routerLink="login">Signup</a> </li>
    <li> <a routerLink="list">Login</a> </li>
</ul>

<!-- <app-formbyanil1></app-formbyanil1> -->