<p>pipes works!</p>
<!-- <h2>Upper Case Pipe</h2> -->
<!-- <h4>{{name | uppercase}}</h4> -->

<!-- <h2>Lower Case Pipe</h2> -->
<!-- <h4>{{NAME | lowercase}}</h4> -->

<!-- <h2>Date Pipe</h2>
<p>{{currentdate | date}}</p> -->

<!-- <h4>Currency</h4> -->
<!-- <p>{{rupee | currency}}</p> -->

<!-- <h4>Json pipe</h4> -->
<!-- <p>{{student | json}}</p> -->

<!-- <h2>Date Paramertized Pipe</h2>
<p>{{currentdate | date : 'short'}}</p> <h4>as short date</h4>
<p>{{currentdate | date : 'long'}}</p> <h4>as long date</h4>
<p>{{currentdate | date : 'yyyy-mm-dd'}}</p> <h4>as yyyy-mm-dd date</h4> -->

<!-- <h2>Currency Paramertized Pipe</h2>
<p>{{rupee | currency : 'INR'}}</p>
 -->

 <p>{{ "smi" | uppercase}}</p>
 <p>{{'Welcome to Angular Pipes' | uppercase}}</p>
 <!-- <p>{{ "today" | date}}</p> -->

 <p ngNonBindable>{{today | date}}</p>
        <p>{{today | date}}</p>

        {{ 4 | custpipe }}