<!-- <p>directives05 works!</p>
<div *ngFor="let day of week">
 {{day}}
</div> -->


<!-- <input type="text" [(ngModel)]="color">

<h1 >
    {{}}
</h1> -->
<!-- 
<button (click)="add()"> Submit</button>
<h1>
    {{c}}
</h1> -->

<!-- <input [(ngModel)]="property">
<h1 [ngStyle]="{'background-color':property}">
helloooooooo
</h1> -->
<!-- <h1>welcome</h1> -->

<!-- <img [src]="image1" alt=""> -->


<table border="2">
    <tr>
        <th [attr.colspan]="cols">Information</th>
    </tr>
    <tr>  
        <th>Name</th>
        <th>Mob no</th>
    </tr>
    <tr>
        <td>smi</td>
        <td>7219628376</td>
    </tr>
</table>