<h1>hello world</h1>
<!--  <h2 *ngIf="marks>=35">you are pass</h2>
<h2 *ngIf="marks<35">You are fail</h2> -->
<!-- <h1 *ngIf="show=='smi';then  ifBlock else elseBlock">

</h1>
<ng-template #ifBlock>
   <h1>If block</h1>
</ng-template>

<ng-template #elseBlock>
   <h1>else block</h1>
</ng-template> --> 
<!-- <app-tablepract></app-tablepract> -->
<!-- <app-directives></app-directives> -->
<!-- <app-directives05></app-directives05> -->

<!-- <app-attributepract></app-attributepract> -->

<!-- <app-directives></app-directives> -->

<!-- <app-pipes></app-pipes> -->

<!-- <app-first-assignment></app-first-assignment> -->
<!-- <app-reactiveform1></app-reactiveform1> -->
<!-- <aap-route></aap-route> -->
<!-- <app-practice></app-practice> -->
<!-- <app-marks></app-marks> -->
<!-- <h1>
   the square root of number is:{{25 | sqrt}}
</h1> -->
<!-- <p appHightight>highlight me</p> -->
<!-- <app-childcmp data={{data}}></app-childcmp> -->
<!-- <button (click)="changedata()">Change</button> -->

<app-pipes></app-pipes>

<p appRedel>{{data}}</p>
<div class="flex-container">
   <div>1</div>
   <div>2</div>
   <div>3</div>
</div>