<p>practice works!</p>


<!-- Enter Marks: <input type="number" name="marks" [(ngModel)]="marks"> -->
<!-- <h4 *ngIf="marks>34; else check">You are Pass</h4>

<ng-template #check>
    <h4>you are fail</h4>
</ng-template> -->

<!-- <h1 *ngIf="marks >=18;else check">
    you are eligiblefor vote
</h1>
<ng-template #check>
    <h1>You are not eligible for vote</h1>
</ng-template> -->
<!-- <h1 *ngIf="marks%2==0; else check">
    number is even
</h1>
<ng-template #check>
    <h2>number is odd</h2>
</ng-template> -->

<!-- ngfor -->

<!-- <p *ngFor="let num of number">
    {{num}}
</p> -->

<!-- ng switch -->
<!-- Enter you choice: <input type="number" name="choice" [(ngModel)]="choice"> -->
<!-- <div [ngSwitch]="choice">
    <h1 *ngSwitchCase="1" >English</h1>
    <h1 *ngSwitchCase="2" >Hindi</h1>
    <h1 *ngSwitchCase="4" >Marathi</h1>
    <h1 *ngSwitchCase="5" >Kanada</h1>
    <h1 *ngDefault>Invalid choice</ngDefault></h1>

</div>
 -->


 <!-- <div [ngSwitch]="choice">
    <div *ngSwitchCase="1">English</div>
    <div *ngSwitchCase="2">Hindi</div>
    <div *ngSwitchCase="3">Marathi</div>
    <div *ngSwitchCase="4">Kanada</div>
    <div *ngDefault>Invalid Choice</div>
</div> -->

<!-- <div [ngSwitch]="ch">
    <div *ngSwitchCase="1">Veg</div>
    <div *ngSwitchCase="2">Nonveg</div>
    <div *ngDefault>invalid</div>

</div> -->

<!-- ng-class -->


<p [ngStyle]="{'background-color':color}">
    hello wolrd
</p>

<p [ngClass]="'attr'"> 
    dhcdsf
    fefnejfn
</p>