#container2{
  padding-bottom: 0px;
  
}
#container1{
  position: relative;
  min-height: 100vh;
  }
  
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: grid;
  place-items: center;
  text-align: center;
  background-size: cover;
  
}
.content{
  width: 430px; 
  border-radius: 15px;
  padding: 40px 30px;
  margin: 50px;
  box-shadow: -3px -3px 9px #02181aa2,
              3px 3px 7px rgba(30, 32, 32, 0.678);
              background-color: #9b9b8d56;;
}
.content .text{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
  color: rgb(19, 18, 20);
}
.length{
  width: 340px;
}
button{
  border: 2px solid black;
}